<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new chat</title>
</head>
<body>

    <form method="post" action="/chats">

        <input type="text" name="from" placeholder="who are you?"> <br> <br>

        <textarea name="message" placeholder="enter your message"></textarea> <br> <br>

        <input type="text" name="to" placeholder="add Received"> <br> <br>

        <button>create chat</button>
    </form>
    
</body>
</html>